<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="LogRootPath" value="${gdc:LogRootPath}"></variable>

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="File" name="ownFile-web" fileName="${LogRootPath}/${aspnet-item:variable=userName}/${shortdate}.log"
            layout="${longdate}| ${uppercase:${level}}| ${logger}| ${message} ${exception:format=tostring}| url: ${aspnet-request-url}| params:${aspnet-request-querystring}| action: ${aspnet-mvc-action}|${callsite}| body: ${aspnet-request-posted-body}" />

    <target xsi:type="Console" name="lifetimeConsole"
            layout="${level:truncate=4:tolower=true}\: ${logger}[0]${newline}      ${message}${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="ownFile-web" />
    <logger name="*" minlevel="Trace" writeTo="lifetimeConsole" />
  </rules>
</nlog>
